<?xml version="1.0" encoding="UTF-8"?>
<!--
    在開發的時候，status通常會設定為debug
    到正式環境時，status就設定為info
    monitorInterval: 自動載入配置檔案的間隔時間不低於指定的秒數。修改配置檔案是及時更新，無需重新啟動
-->
<Configuration status="info" monitorInterval="5">
    <Properties>
        <Property name="LOG_DIRECTORY">/home/bill/Workplace/MySideProject/logs</Property>
        <Property name="LOG_PATTERN">\n\n[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] [%l] %n%m%n</Property>
        <!--
            %c: category of the logging event
            $F: file name
            %l: location of the caller
            %m: custom message associated with the logging event
            %M: method name
            %p: priority
            %r: time spent to create logging
            %t: thread name
        -->
    </Properties>

    <Appenders>
        <!-- console log-->
        <Console name="consoleOut" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <Console name="consoleErr" target="SYSTEM_ERR" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <!-- the file log-->
        <File name="file" fileName="${LOG_DIRECTORY}/myLog4j2.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
