<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>首頁</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="assets/dist/css/bootstrap.min.css">
	<script src="assets/dist/js/bootstrap.bundle.min.js"></script>
 	<!-- jQuery -->
	<script src="scripts/jquery.min.js"></script>
	<script src="scripts/jquery.cookie.js"></script>
	<!-- 下拉式選單 -->
	<script src="scripts/popper.min.js"></script>
	<!-- Bootstrap時間挑選器 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css">
	<!-- 彈跳視窗sweet alert -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="sweetalert2.all.min.js"></script>
	<style>
		body {
			text-align: center;
		}
	</style>
</head>
<body th:with="wrongUserInfo=${wrongUserInfo}, notLogin=${notLogin}">
	<form th:action="@{/login}" method="post">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-md-6">
					<table class="table">
						<tr>
							<td th:text="帳號"></td>
							<td>
								<div class="input-group">
									<input type="text" class="form-control" th:name="account">
								</div>
							</td>
						</tr>
					</table>
				</div><!-- class="col-12 col-md-6" -->
				<div class="col-12 col-md-6">
					<table class="table">
						<tr>
							<td th:text="密碼"></td>
							<td>
								<div class="input-group">
									<input type="password" class="form-control" th:name="password">
								</div>
							</td>
						</tr>
					</table>
				</div><!-- class="col-12 col-md-6" -->
				<div class="col-12">
					<table class="table">
						<tr>
							<td>
								<button class="btn btn-outline-secondary"><a th:href="@{/register}" class="link-secondary" th:text="註冊"></a></button>
							</td>
							<td>
								<button type="submit" class="btn btn-outline-secondary" th:text="登入"></button>
							</td>
						</tr>
					</table>
				</div><!-- class="col-12" -->
			</div><!-- class="row" -->
		</div><!-- class="container-fluid" -->
	</form>
	<script th:inline="javascript">
		/*<![CDATA[*/
		if(/*[[${wrongUserInfo}]]*/ false){
			Swal.fire({
				title:"帳號或密碼輸入錯誤",
				icon:"error",
			})
		}
		if(/*[[${notLogin}]]*/ false){
			Swal.fire({
				title:"尚未登入",
				icon:"error",
			})
		}
		/*]]>*/
	</script>
</body>
</html>