<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>會員中心</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="assets/dist/css/bootstrap.min.css">
	<script src="assets/dist/js/bootstrap.bundle.min.js"></script>
	<!-- AG Grid -->
	<script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
 	<!-- jQuery -->
	<script src="scripts/jquery.min.js"></script>
	<script src="scripts/jquery.cookie.js"></script>
	<!-- 下拉式選單 -->
	<script src="scripts/popper.min.js"></script>
	<!-- Bootstrap時間挑選器 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css">
	<!-- 彈跳視窗sweet alert -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="sweetalert2.all.min.js"></script>
	<style>
		body {
			text-align: center;
		}
	</style>
</head>
<body th:with="userKey=${userKey}, noStatisticsAvailable=${noStatisticsAvailable}, noEmptyDate=${noEmptyDate},
	updateUserSuccessful=${updateUserSuccessful}, createRecordSuccessful=${createRecordSuccessful}" th:object="${records}">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<table class="table">
					<tr>
						<td th:text="會員編號"></td>
						<td th:text="${userKey}"></td>
						<td>
							<button type="button" class="btn btn-outline-secondary" th:id="editPassword" th:text="更改密碼"></button>
						</td>
						<td>
							<form th:action="@{/logout}" method="post">
								<input type="hidden" th:name="userKey" th:value="${userKey}">
								<button type="submit" class="btn btn-outline-secondary" th:text="登出"></button>
							</form>
						</td>
					</tr>
					<tr th:id="editPasswordRow" style="display:none">
						<form th:action="@{/user/update}" method="post">
							<td colspan="3">
								<input type="text" class="form-control" placeholder="請輸入密碼" th:name="password">
							</td>
							<td>
								<input type="hidden" th:name="userKey" th:value="${userKey}">
								<button type="submit" class="btn btn-outline-secondary" th:text="送出"></button>
							</td>
						</form>
					</tr>
					<tr>
						<div class="input-group has-validation">
							<form th:action="@{/statistics}" method="get">
								<td th:text="統計區間"></td>
								<td>
									<input type="text" class="form-control datepicker" th:name="startDate" required
								 	readonly="readonly" placeholder="起始日期(包含)" aria-describedby="inputGroupPrepend">
								</td>
								<td>
									<input type="text" class="form-control datepicker" th:name="endDate" required
								 	readonly="readonly" placeholder="結束日期(不包含)" aria-describedby="inputGroupPrepend">
								</td>
								<td>
									<input type="hidden" th:name="userKey" th:value="${userKey}">
									<button type="submit" class="btn btn-outline-secondary" th:text="送出"></button>
								</td>
							</form>
						</div>
					</tr>
					<tr>
						<form th:action="@{/record/create}" class="form-horizontal" method="post">
							<td th:text="新增紀錄"></td>
							<td>
								<div class="row">
									<div class="col">
										<input type="text" class="form-control datepicker" th:name="recordDate" required
								 			readonly="readonly" placeholder="日期" aria-describedby="inputGroupPrepend">
									</div>
									<div class="col">
										<input type="number" class="form-control" pattern="[0-9]{10}" placeholder="食物" th:name="food">
									</div>
									<div class="col">
										<input type="number" class="form-control" pattern="[0-9]{10}" placeholder="衣服" th:name="clothes">
									</div>
								</div>
							</td>
							<td>
								<div class="row">
									<div class="col">
										<input type="number" class="form-control" pattern="[0-9]{10}" placeholder="娛樂" th:name="entertainment">
									</div>
									<div class="col">
										<input type="number" class="form-control" pattern="[0-9]{10}" placeholder="住宿" th:name="accommodation">
									</div>
									<div class="col">
										<input type="number" class="form-control" pattern="[0-9]{10}" placeholder="交通" th:name="transportation">
									</div>
								</div>
							</td>
							<td>
								<input type="hidden" th:name="userKey" th:value="${userKey}">
								<button type="submit" class="btn btn-outline-secondary" th:text="送出"></button>
							</td>
						</form>
					</tr>
				</table>
			</div><!-- class="col-12" -->
			<div class="col-12">
				<div id="myAgGrid" class="ag-theme-quartz" style="height: 500px"></div>
			</div><!-- class="col-12" -->
		</div><!-- class="row" -->
	</div><!-- class="container-fluid" -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		/*日期篩選器*/
		$(document).ready(function() {
			$("input[name='startDate']").datepicker({
				format: 'yyyy/mm/dd',
				autoclose: true,
				weekStart: 1
			});
			$("input[name='endDate']").datepicker({
				format: 'yyyy/mm/dd',
				autoclose: true,
				weekStart: 1
			});
			$("input[name='recordDate']").datepicker({
				format: 'yyyy/mm/dd',
				autoclose: true,
				weekStart: 1
			});
			if(/*[[${noStatisticsAvailable}]]*/ false){
				Swal.fire({
					title:"尚無可統計資料",
					icon:"error",
				})
			}
			if(/*[[${noEmptyDate}]]*/ false){
				Swal.fire({
					title:"日期不可空白",
					icon:"error",
				})
			}
			if(/*[[${updateUserSuccessful}]]*/ false){
				Swal.fire({
					title:"密碼更新成功",
					icon:"success",
				})
			}
			if(/*[[${createRecordSuccessful}]]*/ false){
				Swal.fire({
					title:"紀錄建立成功",
					icon:"success",
				})
			}
			$("#editPassword").click(function() {
				$("#editPasswordRow").fadeIn("slow");
			});
			
			$.ajax({
				url: /*[[@{/record/show/} + ${userKey}]]*/ "/record/show/0",
				type: "get",
				dataType: "text",	// 資料回傳的型態
				data: {},			// 傳送至server的資料
				async: true,
				success: function(data) {
					var jsonArray = JSON.parse(data);
					const columnDefs = [
						{
							field: "recordDate",
							headerName: "日期",
							cellEditor: "agDateStringCellEditor"
						},
						{
							field: "food",
							headerName: "食物"
						},
						{
							field: "clothes",
							headerName: "衣服"
						},
						{
							field: "entertainment",
							headerName: "娛樂"
						},
						{
							field: "accommodation",
							headerName: "住宿"
						},
						{
							field: "transportation",
							headerName: "交通"
						}
					];
					const gridOptions = {
						rowData: jsonArray,
						columnDefs: columnDefs,
						defaultColDef: {
							flex: 1,
							filter: true,
							editable: true,
							cellDataType: true
						},
						pagination: true,
						paginationPageSize: 10,
						paginationPageSizeSelector: [10, 20, 50, 100],
						onCellValueChanged: onCellValueChanged
					}
					const myAgGridElement = document.querySelector("#myAgGrid");
					let myAgGrid = agGrid.createGrid(myAgGridElement, gridOptions);
					function onCellValueChanged(event) {
						$.ajax({
							url: /*[[@{/record/update}]]*/ "/record/update",
							type: "post",
							dataType: "text",
							data: {
								recordKey: event.data.recordKey,
								recordDate: event.data.recordDate,
								userKey: /*[[${userKey}]]*/ 0,
								food: event.data.food,
								clothes: event.data.clothes,
								entertainment: event.data.entertainment,
								accommodation: event.data.accommodation,
								transportation: event.data.transportation
							},
							async: true,
							success: function(data) {
								if (data === "updateSuccessful") {
									myAgGrid.refreshCells();
									Swal.fire({
										title:"紀錄更新成功",
										icon:"success",
									})
								} else {
									Swal.fire({
										title:"紀錄更新失敗",
										icon:"error",
									})
								}
							},
							error: function(jqXHR, e) {
								console.log(jqXHR);
								console.log(e);
							}
						});
					}
				},
				error: function(jqXHR, e) {
					console.log(jqXHR);
					console.log(e);
				}
			});
		});
		/*]]>*/
	</script>
</body>
</html>